<fieldset>
    <form class="formulario" [formGroup]="formulario">

        <div>
            <label for="nombre">Nombre: </label>
            <input type="text" id="nombre" formControlName="nombre">
        </div>
    
        <div>
            <label for="gmail">Gmail: </label>
            <input type="text" id="gmail" formControlName="gmail">
        </div>
    
        <div>
            <label for="telefono">telefono: </label>
            <input type="number" id="telefono" formControlName="telefono">
        </div>
    
        <div>
            <input type="hidden" formControlName="id">
        </div>
    
        <input type="submit" (click)="editarEmpleado()">
    
    </form>
</fieldset>